nav a{
    color: white;
    padding-right: 40px;
    padding-top: 40px;
    margin-top: 40px;
}
nav{
    background-color: rgb(91, 93, 199);
}

nav a:hover{
    color: aliceblue;
    background-color: rgba(91, 93, 199, 0.699);
}
#lupa{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}
#lupa:hover{
    background-color: antiquewhite;
    text-decoration: none;
}
#demanda{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}
#demanda:hover{
    background-color: antiquewhite;
    text-decoration: none;
}