
#lupa{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}
#lupa:hover{
    background-color: antiquewhite;
    text-decoration: none;
}
#formulario{
    left: 45%;
    width: 80%;
}
#demanda{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
}
#demanda:hover{
    background-color: antiquewhite;
    text-decoration: none;
}